
body
{
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
}

.news
{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    min-height: 150px;
    
    @include mq(laptop){
        min-height: 250px;
    }
}

.card
{
    border:none;
    border-radius: 0;
    padding: 2px;

    .card-title {
        margin-bottom: 2px;
        padding: 5px;
        font-size: 12px;
        position: absolute;
        bottom: 0;
        width: calc(100% - 4px);
        background: white;

        @include mq(laptop){
            font-size: 14px;
            width: 99%;
        }
    }
}


.card-icon
{
    padding: 5px;
    img{
        width: 20px;
    }
    i{
        padding-left: 3px;
    }
} 


.instaBtn
{
    width: 100%;
    border: none;
    background: none;

    @include mq(laptop){
        font-size: 14px;
        width:30%;

    }
}

.profile
{
    padding: 2px;

    img
    {
        width: 50px;
        height: 50px;
    }
}

.goto
{
    padding: 2px;

    a{
        
        border: 1px solid;
        padding: 10px 20px;
        border-radius: 8px;

        &:hover
        {
            text-decoration: none;
        }
    }
}

main
{
    margin-top: 80px;
}


.bg-gradient-primary
{
   background-color:#6c63ff !important;
   background-image: linear-gradient(180deg, #6c63ff 10%, #1d68a7 100%);
}
.btn-primary {
    color: #fff;
    background-color: #6c63ff !important;
    border-color: #6c63ff !important;
}
.btn-link
{
    color: #6c63ff !important; 
}